<div class="jumbotron text-center">
  <h1>Headwig</h1>
  <p class="lead">Welcome to the Headwig Project</p>
  <div>
    <a [routerLink]="['/register']" class="btn btn-primary">Register</a>
    <a [routerLink]="['/login']" class="btn btn-default">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Full control of your house</h3>
    <p>Be in command, wherever you are</p>
  </div>
  <div class="col-md-4">
    <h3>Rock Solid</h3>
    <p>Security is our priority</p>
  </div>
  <div class="col-md-4">
    <h3>Always learning</h3>
    <p>Your house learns your life style</p>
  </div>
</div>